[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = bonk
[access "refs/*"]
	owner = group user/Azufire
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Azufire
	label-Verified = -1..+1 group user/Azufire
	push = group user/Azufire
	read = group user/Azufire
	rebase = group user/Azufire
	removeReviewer = group user/Azufire
	submit = group user/Azufire
[access "refs/heads/*"]
	create = group user/Azufire
	push = +force group user/Azufire
	pushMerge = group user/Azufire
	read = group user/Azufire
[access "refs/tags/*"]
	push = group user/Azufire
	push = +force group user/Azufire
